{{! body for past trips webpage }}
<div class="row">
  <h2>Hello {{name}}, here are your past trips!</h2>
</div>
{{! loop through each trip for the current user }}
{{#each trips as |trip|}}
  {{! continue if the trip date has passed }}
  {{#if (isPast trip_date_start)}}
    <div class="row justify-content-around">
      <div class="card bg-light col p-2 m-2 justify-content-center">
        <div class="row g-0">
          <div class="col-md-4" id={{trip.trip_location}}></div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="destination card-title">{{trip.trip_location}}</h3>
              <p class="card-text">Dates:
                {{format_date trip.trip_date_start}}
                -
                {{format_date trip.trip_date_end}}</p>
              <p class="card-text">Budget: ${{format_amount
                  trip.trip_budget
                }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/each}}

{{! call on needed javascript files }}
<script src="js/fetchImages.js"></script>