{{!-- {{#each trips as |trip|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="./upcoming-trips">{{destination.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}} --}}

<div class="row">
  <h2>Hello {{name}}, here are your upcoming trips!</h2>
</div>
{{#each trips as |trip|}}
  {{#if (isUpcoming trip_date_start)}}
    <div class="row justify-content-around">
      <div class="card bg-light col p-2 m-2 justify-content-center">
        <h3>{{trip.trip_location}}</h3>
        <p>Dates:
          {{format_date trip.trip_date_start}}
          -
          {{format_date trip.trip_date_end}}</p>
        <p>Budget: ${{format_amount trip.trip_budget}}</p>
      </div>
    </div>
  {{/if}}
{{/each}}